# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [1]:
# string.lstrip()
name = '        jennifer costa       '
name.lstrip()
print(name.lstrip())

'jennifer costa'

##### .rstrip()

In [2]:
name = '        jennifer costa       '
name.rstrip()
print(name.rstrip())

        jennifer costa

##### .strip()

In [5]:
namess = '        jennifer costa       '
namess.strip()
print(namess.strip())

jennifer costa

##### .title()

In [6]:
# string.title()
movie = 'Harry Potter and the soRceERs STONE'
print(movie.title())
print(movie.capitalize())
print(movie.lower())
print(movie.upper())

Harry Potter And The Sorceers Stone
Harry potter and the sorceers stone
harry potter and the sorceers stone
HARRY POTTER AND THE SORCEERS STONE

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [11]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
new_list = []
for name in names:
    fixed = name.strip().capitalize()
    new_list.append(fixed)
print(new_list)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [12]:
# min(list)
numbers = [5,57,58,32,3,1,89]
my_min = min(numbers)
print(my_min)
print(numbers)

1
[5, 57, 58, 32, 3, 1, 89]

##### max()

In [15]:
# max(list)

my_max = max(numbers)
print(my_max)

89

##### sum()

In [ ]:
# sum(list)
my_sum = sum(numbers)
print(my_sum )

##### sorted()

In [13]:
# sorted(list)

sorted_version = sorted(numbers)
print(sorted_version)

[1, 3, 5, 32, 57, 58, 89]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [14]:
# list.sort()

# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

result = numbers.sort()
print(result)
print(numbers)

None
[1, 3, 5, 32, 57, 58, 89]

##### Copying a List

In [17]:
# [:] copies a list, doesn't alter original
my_list = [5,5,5]
clone = my_list[:]

new_list.append(3)
print(my_list)

[5, 5, 5]

##### 'in' keyword

In [19]:
teachers = ["Brendam", "Brandith", "sarah"]
if 'Sam' in teachers:
    print('found')
else:
    print("not found")

not found

##### 'not in' keyword

In [20]:
teachers = ["Brendam", "Brandith", "sarah"]
if 'Sam' not in teachers:
    print('not found')
else:
    print(" found")

not found

##### Checking an Empty List

In [ ]:
# if l_1: or if l_1 = []
empty = []
if empty == []:
    print("found an empty list")
if not empty:
    print("found another one")

##### Removing Instances with a Loop

In [32]:
# while, remove

names = ["Brendam", "Brandith", "sarah", "Evan", "Evan"]


while name in names:
    names.remove(name)

print(names)

['Brandith', 'sarah', 'Evan', 'Evan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [5]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_list = []

for name in names:
    if name not in new_list:
        new_list.append(name)
print(new_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [9]:
# number comprehension

# With a regular for loop


# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

nums = []
for num in range(20):
    if num % 2 == 0:
        nums.append(num)
print(nums)

SyntaxError: invalid syntax (2435188960.py, line 18)

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [11]:
# simple
nums = [num for num in range(10 + 1)]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# string comprehension


names = ['   CoNNor', 'Max', ' Evan    ', 'JORDAN', 'MARIA']

fixed_names = [name.strip().capitalize() for name in names if name[0].lower() =='m']
print(fixed_names)

#####################################################

fixed_names = [name.strip().capitalize() for name in names]
print(fixed_names)

['Max', 'Maria']
['Connor', 'Max', 'Evan', 'Jordan', 'Maria']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
tup1 = (10,20,30)
tup2 = 100,200,300

tup3 = (djhsds,sihasd,dsajhiaks)

##### sorted()

In [19]:
tup2 = 100,200,300
result = sorted(tup2)
result = tuple(result)
print(result)

print(type(result))

(100, 200, 300)
<class 'tuple'>

##### Adding values to a Tuple

In [20]:
tup3 = 10,11,12
tup4= 14,15,16

result = tup3 + tup4
print(result)

(10, 11, 12, 14, 15, 16)

## Functions

##### User-Defined vs. Built-In Functions

In [25]:
def say_hello():
    print("Hello there")
print(say_hello())

Hello there
None

##### Accepting Parameters

In [36]:
def generate_email(first_name, last_name):
    email = f' {first_name}.{last_name}@google.com'
    print(email)
generate_email('Jennifer', 'Monteiro')

 Jennifer.Monteiro@google.com

##### Default Parameters

In [ ]:
def generate_email(first_name, last_name, company = 'codingtemple'):
    email = f' {first_name.lower()}.{last_name.lower()}@{company}.com'.lower()
    print(email)
generate_email('Jennifer', 'Monteiro', 'google')
generate_email('Jennifer', 'Monteiro')

##### Making an Argument Optional

In [37]:
def generate_email(first_name, last_name, company = 'codingtemple', middle_name =''):
    email = f' {first_name.lower()}.{last_name.lower()}@{company}.com'.lower()
    print(email)
generate_email('Jennifer', 'Monteiro', 'google')
generate_email('Jennifer', 'Monteiro')
generate_email('Jennifer', 'Monteiro', 'google', 'costa')

 jennifer.monteiro@google.com
 jennifer.monteiro@codingtemple.com
 jennifer.monteiro@google.com

##### Keyword Arguments

In [41]:
# last_name='Max', first_name='Smith' in the function call

# see above

def create_profile(name, age = 21, color = 'red', power ='flying'):
    introduction = f'My name is {name}. I am {age} years old; Color: {color}, power: {power}'
    print(introduction)

create_profile('jennifer', power ='teleport')

My name is jennifer. I am 21 years old; Color: red, power: teleport

# Creating a start, stop, step function

##### Returning Values

##### *args

##### Docstring

##### Using a User Function in a Loop

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [60]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']


def list_names(first_name, last_name):
   new_list = []
   for name, last_name in zip(first_name, last_name):
      new_list.append(f'{name} {last_name}')

   return new_list

list_names(first_name,last_name)
# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [12]:
# Use the following list - [1,11,14,5,8,9]

list_1 = [1,11,14,5,8,9]

def list2 (list_1):
    new_list = []
    for x in list_1:
        if x < 10:
            new_list.append(x)
    return new_list

list2(list_1)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [13]:
list_1 = [1,2,3,4,5,6]
list_2 = [3,4,5,6,7,8,10]

def new_function (list_1, list_2):
    new_list = list_1 + list_2
    new_list.sort()
    return new_list

new_function(list_1, list_2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]